.adobe
.android
Android
.AndroidStudio1.3
Assembly
backup
.bash_history
.bash_logout
.bashrc
Blender
.bundler
C
.cache
.chewing
.codeblocks
.compiz
.config
.dbus
description-pak
Desktop
.dmrc
Documents
Downloads
examples.desktop
.filezilla
.fltk
.gconf
.gem
.gimp-2.8
.gitconfig
.gitmodules
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnuplot_history
.gradle
.gtk-recordmydesktop
HTML
.ICEauthority
.java
Java
linux_kernel
.local
.macromedia
.mozilla
Music
.mypaint
.mysql_history
.nv
.nviminfo
.nvimlog
Objective
.octave_hist
.openvr
.pam_environment
PHP
Pictures
.pip
.pki
.profile
Public
.pulse-cookie
Python
.python_history
.rnd
Ruby
.steam
.steampath
.steampid
sublime
.synaptic
sysbackup
Templates
.thumbnails
.thunderbird
Videos
vimfiles
.viminfo
VirtualBox VMs
.wireshark
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
