.adobe
.android
Android
.AndroidStudio*
Assembly
.audacity-data
backup
.bash_history
.bash_logout
Blender
.bundler
C
.cache
.chewing
.codeblocks
.compiz
.composer
.config
.dbus
description-pak
Desktop
.dbshell
.dmrc
Documents
Downloads
examples.desktop
eclipse
.eclim
.eclipse
.filezilla
.fltk
.gconf
.gem
.gimp-2.8
.gitconfig
.gitmodules
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnupg
.gnuplot_history
GNUstep
.gradle
.gtk-recordmydesktop
HTML
hs_err_pid24180.log
.ICEauthority
.IdeaIC14
.java
Java
kalitools
linux_kernel
.local
.macromedia
Minecraft
.minecraft
.mkshrc
.mongorc.js
.mozilla
Music
.mypaint
.mysql_history
.node-gyp
.nv
.nviminfo
.nvimlog
.nvimrc
.npm
.netrwhist
Objective
old_libs
octave
.octave_hist
.openvr
.oracle_jre_usage
.pam_environment
PHP
Pictures
.pip
.pki
.profile
Public
.pulse-cookie
.pylint.d
Python
.python_history
recordings
.rnd
Ruby
Reflection.class
.rpmdb
.rvm
script
.ssh
.steam
.steampath
.steampid
sublime
.synaptic
Sublime Text 2
sysbackup
Templates
.thumbnails
.thunderbird
Videos
vimfiles
vagrant
.vagrant.d
.viminfo
VirtualBox VMs
.wireshark
Web
.Webstorm
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
.ycm_extra_conf.pyc
*.swp
.zlogin
.zshrc
