.adobe
.android
Android
.AndroidStudio1.3
Assembly
.audacity-data
backup
.bash_history
.bash_logout
.bashrc
Blender
.bundler
C
.cache
.chewing
.codeblocks
.compiz
.config
.dbus
description-pak
Desktop
.dmrc
Documents
Downloads
examples.desktop
eclipse
.eclim
.eclipse
.filezilla
.fltk
.gconf
.gem
.gimp-2.8
.gitconfig
.gitmodules
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnuplot_history
GNUstep
.gradle
.gtk-recordmydesktop
HTML
.ICEauthority
.IdeaIC14
.java
Java
kalitools
linux_kernel
.local
.macromedia
.mozilla
Music
.mypaint
.mysql_history
.nv
.nviminfo
.nvimlog
.nvimrc
.npm
Objective
old_libs
.octave_hist
.openvr
.pam_environment
PHP
Pictures
.pip
.pki
.profile
Public
.pulse-cookie
Python
.python_history
recordings
.rnd
Ruby
.steam
.steampath
.steampid
sublime
.synaptic
Sublime Text 2
sysbackup
Templates
.thumbnails
.thunderbird
Videos
vimfiles
.viminfo
VirtualBox VMs
.wireshark
Web
.Webstorm
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
.ycm_extra_conf.pyc
